p{
    background-color: #ccf;
    border-radius: 5px;
}

p::first-letter{
    font-size: 30px;
    font-weight: bold;
    background-color: #aad;
    border-radius: 5px 0px 0px 5px;
}

div::first-line{
    color: #aad;
}

li{
    color: green;
}

ul li::marker{
    color: red;
}

::selection{
    background: yellow;
    color: red;
}

div::selection{
    color: black;
    background-color: white;
}