@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


::selection {
    background-color: #eb560080;
    /* color: white; */
}

body {
    background: #fefefe;
    color: #333;
    font: 18px 'Poppins';
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    row-gap: 50px;
}

section {
    margin-bottom: 15px;
}

label {
    text-transform: capitalize;
    cursor: pointer;
}

label:hover {
    text-decoration: underline 2px;
}

input {
    font-size: 17px;
}

input[type='text'] {
    display: block;
    border-radius: 6px;
    border: 1px solid #EB5600;
    text-align: center;
    margin-bottom: 10px;
    width: 35%;
    height: 35px;
}

input[type='checkbox'] {
    height: 25px;
    width: 25px;
}

input:focus {
    outline-color: #EB5600;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

span {
    vertical-align: text-top;
}

span>* {
    height: 30px;
}

#carencia,
#cont-carencia {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

#carencia:checked {
    background-color: green;
}

#cont-carencia {
    column-gap: 20px;
}

select {
    height: 30px;
    padding-inline: 20px;
    border: 1px solid #EB5600;
    border-radius: 5px;
    background-color: transparent;
}

button {
    padding-inline: 20px;
    height: 35px;
    border: 1px solid #333;
    border-radius: 5px;
    width: 25%;
}

button:hover,
select:hover {
    background: #EB560050;
    border: 1px solid #EB5600;
}

table {
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

thead th{
    text-transform: uppercase;
    border-bottom: 3px solid #333;
}

th,
td {
    padding: 1em;
    background: #ddd;
    border-bottom: 2px solid white;
}

tbody>tr:nth-child(odd) {
    background: #33333315;
}

tbody tr:hover {
    background-color: #33333335;
}